
@mixin size($height, $width) {
    height: $height;
    width: $width;
}

@mixin font($size, $color, $weight, $family) {
    font-size: $size;
    color: $color;
    font-weight: $weight;
    font-family: $family;
}

