body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    background: rgb(207, 205, 205);
}

.msg__leave{
    position: fixed;
    left:10%;
    top:20%;
    height: auto;
    width: 250px;
    background: rgb(253, 166, 5);
    display: flex;
    border: 4px solid seagreen;
    flex-direction: column;
    border-radius: 40px;
    align-items: center;
}

.msg__title{
    margin: 8px;
    font-size:20px;
    font-weight: bolder;
    text-align: center;
    color: azure;
}

.msg__board {
    height: 1300px;
    width: 800px;
    background: rgb(253, 166, 5);
    display: flex;
    border-left: 4px solid seagreen;
    border-right: 4px solid seagreen;
    flex-direction: column;
    align-items: center;
    min-width: 400px;
}

.msg__block {
    margin-top:18px;
    height: 100px;
    width: 700px;
    background:pink;
    border: 3px solid gray;
    border-radius: 15px;
    font-size:18px;
    transition: 0.5s all;
    font-weight: bolder;
}

.msg__block:hover {
    padding:4px;
    background:pink;
    border: 3px solid gray;
    border-radius: 15px;
}

.msg__display {
    margin: 8px;
}

.msg__text {
    display: block;
    min-width: 200px;
    height: 300px;
    margin-bottom:8px;
    word-break: break-all;
    resize: none;
    background: wheat;
}

.btn {
    width: 50px;
    height: 40px;
    margin-bottom:8px;
    color:pink;
    background: seagreen;
    border: 2px solid white;
    border-radius: 20px;
}