$bg-color: wheat;
$nav-color: gray;
$main-color: none;
$event-title-color: gray;
$event-context-color: rgb(218, 194, 87);
$done-title-color: gray;
$done-context-color:black;
$key-in-btn-color: rgb(20, 218, 142);
$based-padding: 10px 15px;
$heavy-shadow: 0px 8px 7px rgba(0, 0, 0 , 0.7);
$mid-shadow: 0px 8px 7px rgba(0, 0, 0 , 0.3);

