$board-bg-color:rgba(110, 105, 105, 0.35);
$border-color: wheat;
$main-color: rgb(0, 116, 189);
$sub-color: rgb(235, 165, 0);
$post-hover-color :rgb(236, 185, 65);
$font-color: white;
$main-bg-img: url('../img/bg.jpg')  center center fixed no-repeat;