@import 'variable';
@import 'mixin';

/* ----- App.js  ----- */
body {
    background: $main-bg-img;
    background-size: cover;
    padding: 0px;
    margin: 0px;
}

* {
    padding: 0px;
    margin: 0px;
}

/*-- 因應 <Link /> 使用 --*/
a {
    text-decoration: none;
    color:inherit;
}

/* ----- Nav.js  ----- */
.window-UnMoving {
    background-color: transparent;
    position: fixed;
    top: 0;
    height: 46px;
    transition: 0.5s all;
    width: 100%;
    z-index: 1;
    display: flex;
    align-items: center;
    ul {
        li.active {
            transition: 0.5s all;
            background-color: $sub-color;
            box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
        }
    }
}

.window-is-Moving {
    background-color: $sub-color;
    position: fixed;
    top: 0;
    height: 46px;
    width: 100%;
    transition: 0.5s all;
    z-index: 1;
    box-shadow: 0px 4px 3px rgba(20%,20%,40%,0.5);
    display: flex;
    align-items: center;
    ul {
        li.active {
            transition: 0.5s all;
            color: $main-color;
        }
    }
}



ul {
    list-style:none;
    li {
        @include font(18px, $font-color, bold, monospace);
        text-align: center;
        outline: none;
        display: inline-block;
        padding: 12px;
        &~li {
            cursor: pointer;
            margin-left: 8px;
        }
    } 
}

/* ----- Home.js  ----- */
.page-title {
    @include font(80px, $font-color, null, (Impact, Charcoal, sans-serif));
    position: relative;
    height: auto;
    width: 800px;
    border-bottom: 3px solid $border-color;
    border-right: 3px solid $border-color;
    margin: 20px;
    padding: 10px;
    box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
}

/* ----- PostList.js  ----- */

.loading {
    @include font(20px, $font-color, null, (monospace));
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    height: 150px;
    width: 150px;
    margin: 20px auto;
    padding: 70px;
}

.wrapper {
    margin: 0 auto;
    min-height: 900px;
    height: auto;
    width: auto;
    padding: 30px;
    .board {
        height: auto;
        width: 1000px;
        background-color: $board-bg-color;
        margin: 100px auto;
        padding: 20px;
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
        .post {
            cursor: pointer;
            position: relative;
            height: 200px;
            width: 200px;
            border: 3px solid $border-color;
            transition: 0.25s all;
            margin: 20px;
            padding: 30px;
            box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
            &:hover {
                border-color: $sub-color;
                background-color: rgba(235, 165, 0, 0.2);
            }
            &-title {
                @include font(23px, $font-color, bold, monospace);
                padding: 5px 8px;
                height: 50px;
                word-break: break-word;
                text-overflow: ellipsis;
                overflow: hidden;
                transition: 0.3s all;
                white-space: nowrap;
            }
            &-text {
                @include font(13px, $font-color, bold, monospace);
                padding: 5px 8px;
                height: 91px;
                word-break: break-word;
                text-overflow: ellipsis;
                overflow: hidden;
                &:hover {
                    color: $font-color;
                }
            }
            &-editor {  
                @include font(13px, $font-color, bold, monospace);
                position: absolute;
                bottom: 25px;
                right: 25px;
                padding: 5px 8px;
                width: 110px;
                word-break: break-word;
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
            }
        }
    }
}

/* ----- Post.js / About.js ----- */
.single-post {
    background-color: rgba(197, 188, 168, 0.1);
    position: relative;
    height: auto;
    width: 950px;
    border: 3px solid $border-color;
    transition: 0.3s all;
    margin: 20px;
    padding: 60px;
    padding-bottom: 140px;
    box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
    &-title {
        @include font(40px, wheat, bold, monospace);
        padding: 5px 8px;
        height: auto;
        word-break: break-word;
        transition: 0.3s all;
    }
    &-text {
        @include font(16px, $font-color, null, monospace);
        margin-top: 50px;
        padding: 5px 8px;
        height: auto;
        word-break: break-word;
        text-overflow: ellipsis;
        overflow: hidden;
        line-height: 2em;
        
    }
    &-editor {  
        @include font(20px, $font-color, bold, monospace);
        position: absolute;
        bottom: 45px;
        right: 40px;
        padding: 5px 8px;
        word-break: break-word;
    }
}

/* ----- Write.js  ----- */
.write-article {
    @include font(20px, $font-color, bold, monospace);
    position: relative;
    height: auto;
    width: 950px;
    border: 3px solid $border-color;
    transition: 0.3s all;
    margin: 20px;
    padding: 60px;
    padding-bottom: 100px;
    box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
    display: flex;
    justify-content: center;
    flex-direction: column;
        &-title {
            @include font(16px, $font-color, bold, monospace);
            transition: 0.7s all;
            outline: none;
            padding:  5px 20px;
            margin-top:8px;
            margin-bottom: 60px;
            background-color: transparent;
            border: 0px;
            box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
            border: 3px solid $border-color;
            &:focus {
                background-color: rgba(235, 165, 0, 0.3);
            }
        }
        &-editor {  
            @include font(16px, $font-color, bold, monospace);
            transition: 0.7s all;
            outline: none;
            margin-top:8px;
            margin-bottom: 60px;
            padding:  5px 20px;
            background-color: transparent;
            border: 0px;
            box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
            border: 3px solid $border-color;
            &:focus {
                background-color: rgba(235, 165, 0, 0.3);
            }
        }
        &-text {
            @include font(16px, $font-color, null, monospace);
            transition: 0.7s all;
            outline: none;
            box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
            resize : none;
            margin-top:16px;
            margin-bottom: 30px;
            padding: 20px;
            height: 500px;
            word-break: break-word;
            background-color: transparent;
            border: 3px solid $border-color;
            &:focus {
                background-color: rgba(235, 165, 0, 0.3);
            }
        }
        &-button {
            @include font(25px, $font-color, bold, monospace);
            cursor: pointer;
            margin-top:60px;
            transition: 0.4s all;
            outline: none;  
            box-shadow: 5px 4px 3px rgba(20%,20%,40%,0.5);
            padding: 30px;
            border: 3px solid $border-color;
            background-color: transparent;
            &:hover {
                color: $main-color;
                background-color: $sub-color
            }
        }
}

