body {
    margin: 0;
    padding: 0;
}

.bar {
    height: 40px;
    background: orange;
    display: flex;
    justify-content: center;
}

.btn {
    margin-left:20px; 
}

.wrapper {
    width: 1000px;
    min-width: 800px;
    height:  auto;
    margin: 0 auto;
    margin-right: auto;
    margin-left: auto;
    background: pink;
    text-align: center;
    padding: 20px;
}

.story {
    border: 2px solid gray;
    padding: 10px;
    text-align: left;
}

.story ~ .story {
    margin-top: 25px;
}